/**{outline: 1px solid red;}*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}

html {
    line-height: 1
}

ol, ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}

q, blockquote {
    quotes: none
}

q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none
}

a img {
    border: none
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block
}

html {
    *overflow: auto
}

body, button, input, select, textarea {
    font-family: PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans;
    font-size: 12px;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clearfix {
    display: inline-block
}

.clearfix {
    height: 1%
}

.clearfix {
    display: block;
    overflow: hidden
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

/*a background:#036*/
/*a:hover#114f8e*/

/*background: #026890*/

/*a:hover:background-color: rgba(255,255,255,.1);*/
/*.nav-bar li.a, .nav-bar li:hover {*/
/*background-color: rgba(255,255,255,.1);*/
/*}*/

/*黑、青色*/
/*background:#373d41*/
/*a:hover:#30c5c3*/

/*黑色、绿色*/
/*background: #333;*/
/*border-left: 1px solid #444;*/
/*border-right: 1px solid #000;*/
/*#41cd52*/

/*.bus_effect_2 {*/
/*-webkit-transform: translateY(15px);*/
/*transform: translateY(15px);*/
/*-webkit-animation: moveUp 0.65s ease forwards;*/
/*animation: moveUp 0.65s ease forwards;*/
/*}*/

/*绿色 绿色*/
/*background: #009e73;*/
/*a background: #05b88a;*/

/*color: #fff!important;*/
/*position: static;*/
/*font-size: 30px;*/
/*background: #008fd4;*/
/*padding-left: 25px;*/
/*position: relative;*/
/*display: block;*/
/*left: 0!Important;*/
/*height: 74px;*/
/*line-height: 74px;*/

