.header {
    padding: 0;
    margin: 0 auto;
    height: 70px;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: #0089d0;
    min-width: 1370px;
    position: relative;
    /*!*background: url(../img/main/xg_left.png?1464005190) left center no-repeat,url(../img/main/xg_right.png?1464005212) right center no-repeat,url(../img/main/top_bottombg.png?1464006836) left bottom repeat-x;*!*/
}

/*.header {*/
    /*padding: 0;*/
    /*margin: 0 auto;*/
    /*height: 70px;*/
    /*position: relative;*/
    /*z-index: 2;*/
    /*background-color: #0089d0;*/
    /*width: 1376px;*/

    /*!*!*background: url(../img/main/xg_left.png?1464005190) left center no-repeat,url(../img/main/xg_right.png?1464005212) right center no-repeat,url(../img/main/top_bottombg.png?1464006836) left bottom repeat-x;*!*!*/

/*}*/

.header .header-logo {
    float: left;
    padding: 0 60px;
    height: 100%;
    width: 220px;
    /*border-right: 1px solid #198b25;*/
    border-right: 1px solid #00679c;
    line-height: 70px;
}
.header .header-logo img {
    vertical-align: middle;
    margin-left: -10px;
}


.header .header-nav {
    position: relative;
    float: left;
}

.header .header-user {
    position: relative;
    float: right;
    margin-right: 20px;
    padding: 0 10px;
    height: 70px;
    line-height: 70px;
    cursor: pointer;
}

.header .header-user .user-dropdown-menu li:hover { background:#f1f1f1; }

.header .header-user:hover .user-dropdown-menu { display:block; }

.header .header-user .user-avatar {
    float: left;
    margin: 12px 10px 0 0;
    width: 48px;
    height: 48px;
}

.header .header-user .user-avatar img {
    margin: 4px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

.header .header-user .user-name {
    float: left;
    max-width: 150px;
    color: #fff;
    font-size: 14px;
    margin-right: 5px;
}

.header .header-user .user-dropdown {
    color: #fff;
    position: relative;
    top: -2px;
}

.header .header-user .fa{ color:#ffffff }

.header .header-nav .nav-prev, .header .header-nav .nav-next {
    position: absolute;
    right: -32px;
    top: 10px;
    width: 26px;
    height: 23px;
    border-radius: 3px 3px 0 0;
    background: #00679c;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 23px;
}

.header .nav-prev.disabled, .header .nav-next.disabled {
    color: #cccccc;
    background: #fff;
    cursor: default;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.header .header-user .user-dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 70px;
    background: #fff;
    z-index: 1;
    border: 1px solid #e1e1e1;
    box-shadow: 1px 1px 2px #ddd;
}

.header .header-user .user-dropdown-menu li {
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    padding: 0 15px;
}

.header .header-user .user-dropdown-menu li a {
    color: #000;
    text-decoration: none;
}

.header .header-user .user-dropdown-menu li .fa {
    margin-right: 10px;
    color: #000;
}

.header .header-user:hover {
    background: #00679c;
}

.header .header-nav .nav-wrap {
    float: left;
    height: 70px;
    width: 625px;
    overflow: hidden;
}

.header .nav-wrap-ul {
    float: left;
}

.header .header-nav .nav-item.selected, .header .header-nav .nav-item:hover  {
    background: #00679c;
    border-bottom: #ff9d09 solid 4px;
}

.header .header-nav .nav-item {
    float: left;
    height: 70px;
    color: #fff;
    padding: 0 15px;
    border-right: 1px solid #00679c;
    cursor: pointer;
    font-size:14px;
}
.header .header-nav .nav-item.selected a {
    color: #fff;
}

.header .header-nav .nav-item a {
    display: block;
    color: #fff;
    text-decoration: none;
}

.header .header-nav .nav-item .fa {
    display: block;
    margin-top: 12px;
    font-size: 26px;
    height: 30px;
    text-align: center;
}

.header .header-nav .nav-next {
    top: 36px;
    border-radius: 0 0 3px 3px;
}

ol, ul {
    list-style: none;
}

.container{
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    z-index: 0;
    transition: all 0.3s ease;
    min-width: 1370px;
}

#left {
    width:220px;
}

#left .secondMenu .accordion-header {
    height: 30px;
}

#left .secondMenu .accordion-header .panel-title {
    height: 30px;
    line-height: 30px;
    padding-left: 15px;
}

#top {
    background: #0089d0;
    height: 70px;
    margin: 0;
    padding: 0;
}


#left {
    margin: 0;
    padding: 0;
}

#bottom {
    /*background: #0089d0;*/
    background: #f3f3f3;
    color:#575765;
    height: 28px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#bottom .footer {
    text-align: center;
    line-height: 28px;
    font-size: 12px;
}


#top .pageTitle {
    font-size: 20px;
}

#top .leftMenu a {
    text-decoration: none;
    font-size: 14px;
    padding: 12px 15px;
    color: #ffffff;
    border-right: 1px solid #006ea7;
}

#top .leftMenu a:hover, #top .leftMenu a:focus, #top .leftMenu a.selected {
    background: #006ea7;
}

#top .rightMenu {
    float: right !important;
    line-height: 40px !important;
}

#top .rightMenu a {
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    padding: 5px 8px;
    border-right: 1px solid #006ea7;
}

#top .rightMenu a:hover, #top .rightMenu a:focus {
    text-decoration: underline;
    background: #006ea7;
}

#top .rightMenu ul li a.avatar img {
    border: 0;
    border-radius: 30px;
    width: 35px;
    height: 35px;
}

#top .rightMenu ul li a.avatar {
    background: transparent;
    border: 0;
}

#center .tabs {
    list-style-type: none;
    height: 30px !important;
    margin: 0;
    padding: 0;
    padding-left: 4px;
    width: 50000px;
    border-style: solid;
    border-width: 0 0 1px 0;
}

#center .tabs-panels{
    border-bottom:0;
}

#center .tabs li.tabs-selected a.tabs-inner{
    font-weight: normal;
    outline: none;
}

#center .tabs li a.tabs-inner {
    display: inline-block;
    text-decoration: none;
    margin: 0;
    padding: 0 10px;
    height: 25px;
    text-align: center;
    white-space: nowrap;

}

#center .tabs-tool {
    position: absolute;
    bottom: 0;
    padding: 1px;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    height: 100%;
}

#center .tabs-title {
    font-size: 12px;
}

#center.tabs-icon {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 10px;
    top: 50%;
    margin-top: -8px;
    font-size: 14px;
}

#center .l-btn {
    color: #444;
    background: transparent;
    border: 0 solid #bbb;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#eeeeee,GradientType=0);
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding:0 2px !important;
}

#center .l-btn-plain {
    border-width: 0;
    padding: 0;
    height: 100%;
}

#center .l-btn-left {
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    vertical-align: top;
    height: 100%;
}

#center .l-btn:hover,#center .l-btn:focus{
    background: #ffffff;
}

#center .l-btn-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    position: absolute;
    top: 50%;
    margin-top: -8px;
    font-size: 14px;
}

#top, #tabs .tabs-panels>.panel>.panel-body, .messager-body {
    overflow: hidden;
}

#left .panel-title {
    font-size: 12px;
    font-weight: normal;
    color: #575765;
    height: 24px;
    line-height: 24px;
}

#left .tree-node {
    height: 30px;
    white-space: nowrap;
    cursor: pointer;
    padding:3px 0 12px 10px;
}

#left .tree-title {
    font-size: 12px;
    display: inline-block;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    padding: 0 5px;
    height: 18px;
    line-height: 18px;
}

.submitButton{
    margin:10px;
}

.closeButton{
    margin:10px;
}