/*css 初始化 */
/*html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*!*将标签原有的默认内外边距去掉*!*/
/*fieldset, img, input, button {*/
/*    border: none; !*去掉边框*!*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    outline-style: none; !*去掉环绕边框*!*/
/*}*/

/*ul, ol {*/
/*    list-style: none; !*去掉原样式中的小黑点*!*/
/*    !*ctrl+alt+l*!*/
/*}*/

input {
    padding-top: 0;
    padding-bottom: 0;
}

select, input {
    vertical-align: middle; /*输入字居中显示*/
}

select, input, textarea {
    font-size: 14px;
    margin: 0;
}

/**/
textarea {
    resize: none; /*防止拖动*/
}

img {
    border: 0;
    vertical-align: middle; /*  去掉图片底部默认的3像素空白缝隙*/
}

table {
    border-collapse: collapse; /*合并外边线*/
}

body {
    font-family:  Microsoft YaHei, Arial, "\5b8b\4f53";
    /*background:#0064C8;*/
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
    /*兼容IE6下的写法*/
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none; /**/
    font-weight: normal; /*不加粗*/
    font-size: 100%;
}
.login-page {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
    background: url("../img/login/login_page_background.jpg") no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
}

/*login 开始*/
.login-box{
    width: 1000px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -510px; /* 500px */
    margin-top: -250px; /* -250px */
	/*background:#0064C8;*/
}
.login-box>.login-header{
    height: 80px;
    text-align: center;
}
.login-box>.login-header>p{
    color:#fff;
    font-size: 40px;
    font-weight: 600;
    margin-top: -40px;
    letter-spacing: 5px
}
.login-box>.login-body{
    width: 1000px;
    height: 370px; /* 320px */
	margin-top:20px; /* 20px */
}
.login-box>.login-body>.login-body-left{
    height: 370px; /* 320px */
    width: 650px;
    float: left;
    -moz-border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    background: url("../img/login/login_body_left.jpg") no-repeat;
    background-size: cover;
}
.login-box>.login-body>.login-body-right{
    height: 370px;  /* 320px */
    width: 350px;
    float: right;
    background-color: #e9eef2;
    -moz-border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;

    -moz-border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.login-box>.login-body>.login-body-right>.right-title{
    color:#251E5F;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 60px;
    background: url("../img/login/horizontal_divider.png") repeat;
    margin-bottom: 25px;
}
.login-box>.login-body>.login-body-right>form>div{
    position: relative;
}
/*.login-box>.login-body>.login-body-right>form>div>img{*/
/*    position: absolute;*/
/*    left: 62px;*/
/*    top:7px;*/
/*}*/
.login-box>.login-body>.login-body-right>form>div>i{
    position: absolute;
    /*left: 62px;*/
    /*top:7px;*/
    left: 61px;
    top: 6px;
    font-size: 20px;
    color: #C3C2C2;
}
.login-box>.login-body>.login-body-right>form input{
    height: 35px;
    width: 250px;
    border: 1px solid #d3d8dc;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-left: 50px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color:#333;
    padding-left: 40px;
    line-height: 40px; /* 解决 ie8 下 input 输入框文字顶格的问题 */
    line-height:normal
}
.login-box>.login-body>.login-body-right>form>.verify-code>input{
    width: 150px;
}
.login-box>.login-body>.login-body-right>form>.verify-code>.verify-code-image{
    float: right;
    margin-right: 50px;
    cursor: pointer;
}
.login-box>.login-body>.login-body-right>form>.verify-code>.verify-code-image>img {
    width: 90px;
    height: 30px;
}
.login-box>.login-body>.login-body-right>form>.remember-me>input{
    width: 20px;
    margin-top: -12px;
    margin-bottom: 5px;
}
.login-box>.login-body>.login-body-right>form>.remember-me>div{
    float: right;
    margin-right: 240px;
    cursor: pointer;
}
.login-box>.login-body>.login-body-right>form input:focus{
    border: 1px solid #999;
}
.login-box>.login-body>.login-body-right>form>.login-button>a{
    display: block;
    width: 250px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: #0064c8; /* */
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color:#fff;
    text-decoration: none;
    margin-left: 50px;
}
.login-box>.login-body>.login-body-right>form>.login-button>a:hover{
    background-color: #0058af;
}
.login-box>.login-footer{
    text-align: center;
    padding-top: 20px;
}
.login-box>.login-footer>p{
    font-size: 14px;
    color:#eee;
    line-height: 30px;
}

/*login 结束*/
