body{min-width:1220px;position:relative}
body .todo-panel{position:absolute;height:515px;border:1px solid #cbcbcb;background-color:#fff;box-shadow:0 2px 0 0 #cbcbcb;border-bottom-left-radius:3px;border-bottom-right-radius:3px;display:none}
body .todo-panel .todo-title{position:relative;height:111px}
body .todo-panel .todo-title i{position:absolute;font-size:60px;left: 14px;top:29px;color:#0089d0}
body .todo-panel .todo-title span.num{position:absolute;left:80px;top:30px;font-size:32px;color:#f45438}
body .todo-panel .todo-title span.num span{font-size:14px;color:#000}
body .todo-panel .todo-title label{position:absolute;top:70px;font-size:14px;left:80px;color:#000}
body .todo-panel .todo-items{overflow-y:auto;height:394px}
body .todo-panel .todo-items ul li{list-style:none;font-size:14px;color:#000;padding-left:15px;padding-right:20px;line-height:31px;height:31px}
body .todo-panel .todo-items ul li>span{position:relative;display:inline-block;background-color:#0089d0;width:3px;height:3px;top:-14px;margin-right:3px}
body .todo-panel .todo-items ul li a{display:inline-block;color:#000;text-decoration:none;width:80%}
body .todo-panel .todo-items ul li a:hover{text-decoration:underline}
body .todo-panel .todo-items ul li a>span{color:#f45438}
body .todo-panel .todo-items ul li label{float:right;color:#b8b8b8}
#body .body-content{position:relative;padding-right:300px}
#body .body-content .right-zone{position:absolute;right:0;top:0;bottom:0;width:300px}
#body .item-box{width:297px;border:1px solid #bfbfbf;margin-bottom:12px}
#body .item-box.right-box-one{height:231px}
#body .item-box.right-box-two{height:272px}
#body .item-box.right-box-three{height:272px;}
#body .item-box.right-box-three .right-box-header{border-bottom:0;}
#body .item-box.right-box-three .right-box-tab{height:31px;border-top:2px solid #0089d0;margin-bottom:5px;border-left:1px solid #bfbfbf}
#body .item-box.right-box-three .right-box-tab a{display:inline-block;width:147px;height:31px;float:left;border:0;color:#000;text-align:center;line-height:31px;text-decoration:none;background-color:#f1f1f1}
#body .item-box.right-box-three .right-box-tab a.current{background-color:#fff;border-bottom:1px solid #bfbfbf;}
#body .item-box.right-box-three ul.hide{display:none}
#body .item-box.right-box-three ul li a{width:260px}
#body .item-box .right-box-header{padding:0 10px;height:35px;line-height:35px;background-color:#e3e3e3;border-left:1px solid #bfbfbf;}
#body .item-box .right-box-header label{color:#000;font-weight:bold}
#body .item-box .right-box-header a{text-decoration:none;float:right;color:#000}
#body .item-box .right-box-header a:hover{text-decoration:underline}
#body .item-box ul{padding-top:5px}
#body .item-box ul li{list-style:none;font-size:14px;color:#000;padding:0 10px;line-height:31px;height:31px}
#body .item-box ul li span{position:relative;display:inline-block;background-color:#0089d0;width:3px;height:3px;top:-14px;margin-right:3px}
#body .item-box ul li a{display:inline-block;color:#000;text-decoration:none;width:200px}
#body .item-box ul li a:hover{text-decoration:underline}
#body .item-box ul li label{float:right;color:#b8b8b8}
#body .center-part .center-items{margin-bottom:10px}
#body .center-part .center-items .item-header{padding:0 10px;height:35px;line-height:35px;border-bottom:1px solid #bfbfbf;background-color:#e3e3e3;font-weight:bold}
#body .center-part .center-items.todo{position:relative;height:233px;padding-right:215px}
#body .center-part .center-items.todo .calendar-part{position:absolute;right:0;width:215px;top:0;bottom:0}
#body .center-part .center-items.todo .work-items{height:233px}
#body .center-part .center-items.todo .work-items li{float:left;width:33.333333%;cursor:pointer}
#body .center-part .center-items.todo .work-items li .work-inner{padding-right:10px}
#body .center-part .center-items.todo .work-items li .work-inner .work-item{position:relative;height:111px;color:#fff}
#body .center-part .center-items.todo .work-items li .work-inner .work-item i{position:absolute;font-size:60px;left:11px;top:22px}
#body .center-part .center-items.todo .work-items li .work-inner .work-item span.num{position:absolute;left:80px;top:30px;font-size:32px}
#body .center-part .center-items.todo .work-items li .work-inner .work-item span.num span{font-size:14px}
#body .center-part .center-items.todo .work-items li .work-inner .work-item label{position:absolute;top:70px;font-size:14px;left:80px}
#body .center-part .center-items.todo .work-items li .work-inner .work-item.green{background-color:#28a745;margin-bottom:11px}
#body .center-part .center-items.todo .work-items li .work-inner .work-item.red{background-color:#dc3545;margin-bottom:11px}
#body .center-part .center-items.todo .work-items li .work-inner .work-item.yellow{background-color:#ffc107;margin-bottom:11px}
#body .center-part .center-items.todo .work-items li .work-inner .work-item.blue{background-color:#007bff}
#body .center-part .center-items.todo .work-items li .work-inner .work-item.purple{background-color:#6f42c1}
#body .center-part .center-items.todo .work-items li .work-inner .work-item.gray{background-color:#6c757d}
#body .center-part .center-items.chart0{height:274px}#body .center-part .center-items.chart0 .chart0-item{float:left;width:50%}
#body .center-part .center-items.chart0 .chart0-item .item-inner{padding-right:10px}
#body .center-part .center-items.chart0 .chart0-item .item-inner .item-content{height:272px;border:1px solid #bfbfbf}
#body .center-part .center-items.chart0 .chart0-item .item-inner .item-content .content-header{padding:0 10px;height:35px;line-height:35px;border-bottom:1px solid #bfbfbf;background-color:#e3e3e3;font-weight:bold}
#body .center-part .center-items.chart0 .chart0-item .item-inner .item-content .chart-chart{height:236px}
#body .center-part .center-items.chart1{padding-right:10px;height:274px;border:0;margin-bottom:0}
#body .center-part .center-items.chart1 .chart1-inner{height:272px;border:1px solid #bfbfbf}
#body .center-part .center-items.chart1 .chart1-inner .chart1-chart{height:236px}