<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gioov.nimrod.user.mapper.RoleAuthorityMapper">
    <resultMap id="BaseResultMap" type="com.gioov.nimrod.user.entity.RoleAuthorityEntity">
        <id column="id" property="id" jdbcType="BIGINT"/> <!-- id -->
        <result column="role_id" property="roleId" jdbcType="BIGINT"/> <!-- 角色 id -->
        <result column="authority" property="authority" jdbcType="VARCHAR"/> <!-- 权限（authority） -->
    </resultMap>

    <sql id="TableName">
        `role_authority`
    </sql>

    <sql id="BaseColumnList">
        `id`, `role_id`, `authority`
    </sql>

    <insert id="insertOne" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.gioov.nimrod.user.entity.RoleAuthorityEntity">
        insert into
        <include refid="TableName"/>
        (`id`, `role_id`, `authority`)
        values (#{id}, #{roleId}, #{authority})
    </insert>

    <insert id="insertAll" useGeneratedKeys="true" keyProperty="id">
        insert into
        <include refid="TableName"/>
        (`role_id`, `authority`)
        values (#{roleId}, #{authority})
    </insert>

    <insert id="insertAllByRoleIdAndAuthorityList" useGeneratedKeys="true">
        insert into
        <include refid="TableName"/>
        (`role_id`, `authority`)
        values
        <foreach collection="authorityList" item="item" index="index" separator=",">
            <if test="item != ''">
                (#{roleId}, #{item})
            </if>
        </foreach>
    </insert>

    <update id="updateOne" keyProperty="id" parameterType="com.gioov.nimrod.user.entity.RoleAuthorityEntity">
        update
        <include refid="TableName"/>
        set `role_id` = #{roleId}, `authority` = #{authority}
        where `id`= #{id}
    </update>

    <delete id="deleteOne" parameterType="long">
        delete from
        <include refid="TableName"/>
        where `id` = #{id}
    </delete>

    <delete id="deleteAllByRoleIdAndAuthorityList">
        delete from
        <include refid="TableName"/>
        where `role_id` = #{roleId} and `authority` in (
        <foreach collection="authorityList" item="item" index="index" separator=",">
            #{item}
        </foreach>
        )
    </delete>

    <delete id="deleteAllByRoleId">
        delete from
        <include refid="TableName"/>
        where `role_id` = #{roleId}
    </delete>

    <select id="getOne" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from
        <include refid="TableName"/>
        where `id` = #{id} limit 1
    </select>

    <select id="listAll" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from
        <include refid="TableName"/>
    </select>

    <select id="listAllByRoleId" resultMap="BaseResultMap" parameterType="long">
        select
        <include refid="BaseColumnList"/>
        from
        <include refid="TableName"/>
        where `role_id` = #{roleId}
    </select>

    <select id="getOneByRoleIdAndAuthority" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from
        <include refid="TableName"/>
        where `role_id` = #{roleId} and `authority` = #{authority} limit 1
    </select>

</mapper>
