<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gioov.nimrod.user.mapper.ViewMenuCategoryMapper">
    <resultMap id="BaseResultMap" type="com.gioov.nimrod.user.entity.ViewMenuCategoryEntity">
        <id column="id" property="id" jdbcType="BIGINT"/> <!-- id -->
        <result column="name" property="name" jdbcType="VARCHAR"/> <!-- 分类名称 -->
        <result column="icon" property="icon" jdbcType="VARCHAR"/> <!-- 图标（icon） -->
        <result column="parent_id" property="parentId" jdbcType="BIGINT"/> <!-- 父级分类 id -->
        <result column="role_id" property="roleId" jdbcType="BIGINT"/> <!-- 角色 id -->
        <result column="sort" property="sort" jdbcType="BIGINT"/> <!-- 排序 -->
        <result column="remark" property="remark" jdbcType="VARCHAR"/> <!-- 备注 -->
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/> <!-- 更新时间 -->
        <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP"/> <!-- 创建时间 -->
    </resultMap>

    <sql id="TableName">
        `view_menu_category`
    </sql>

    <sql id="BaseColumnList">
        `id`
        ,
        `name`,
        `icon`,
        `parent_id`,
        `role_id`,
        `sort`,
        `remark`,
        `gmt_modified`,
        `gmt_created`
    </sql>

    <insert id="insertOne" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.gioov.nimrod.user.entity.ViewMenuCategoryEntity">
        INSERT INTO
        <include refid="TableName"/>
        (`id`, `name`, `icon`, `parent_id`, `role_id`, `sort`, `remark`, `gmt_modified`, `gmt_created`)
        VALUES (#{id}, #{name}, #{icon}, #{parentId}, #{roleId}, #{sort}, #{remark}, #{gmtModified}, #{gmtCreated})
    </insert>

    <update id="updateOne" keyProperty="id" parameterType="com.gioov.nimrod.user.entity.ViewMenuCategoryEntity">
        UPDATE
        <include refid="TableName"/>
        SET `name` = #{name}, `icon` = #{icon}, `sort` = #{sort}, `remark` = #{remark}, `gmt_modified` = #{gmtModified}
        WHERE `id`= #{id}
    </update>

    <delete id="deleteOne" parameterType="long">
        DELETE FROM
        <include refid="TableName"/>
        WHERE `id` = #{id}
    </delete>

    <delete id="deleteAll">
        DELETE FROM
        <include refid="TableName"/>
        WHERE `id` IN
        (
        <foreach collection="list" item="item" index="index" separator=",">
            #{item}
        </foreach>
        )
    </delete>

    <select id="getOne" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumnList"/>
        FROM
        <include refid="TableName"/>
        WHERE `id` = #{id} LIMIT 1
    </select>

    <select id="listAllByParentIdIsNullAndRoleId" resultMap="BaseResultMap" parameterType="long">
        SELECT
        <include refid="BaseColumnList"/>
        FROM
        <include refid="TableName"/>
        WHERE `parent_id` IS NULL AND `role_id` = #{roleId}
    </select>

    <select id="listAllByParentIdAndRoleId" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumnList"/>
        FROM
        <include refid="TableName"/>
        WHERE `parent_id` = #{parentId} AND `role_id` = #{roleId}
    </select>

    <select id="pageAllByParentIdIsNullAndRoleId" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumnList"/>
        FROM
        <include refid="TableName"/>
        WHERE `parent_id` IS NULL AND `role_id` = #{roleId} ${pageable}
    </select>

    <select id="countAllByParentIdIsNullAndRoleId" resultType="int">
        SELECT COUNT(1) FROM
        <include refid="TableName"/>
        WHERE `parent_id` IS NULL AND `role_id` = #{roleId}
    </select>

    <select id="getOneByParentIdAndRoleId" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumnList"/>
        FROM
        <include refid="TableName"/>
        WHERE `parent_id` = #{parentId} AND `role_id` = #{roleId} LIMIT 1
    </select>


    <select id="listAll" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumnList"/>
        FROM
        <include refid="TableName"/>
    </select>

    <select id="searchAllByName" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumnList"/>
        FROM
        <include refid="TableName"/>
        WHERE `name` LIKE '%${name}%'
    </select>

</mapper>
