<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gioov.nimrod.user.mapper.ViewMenuMapper">
    <resultMap id="BaseResultMap" type="com.gioov.nimrod.user.entity.ViewMenuEntity">
        <id column="id" property="id" jdbcType="BIGINT"/> <!-- id -->
        <result column="name" property="name" jdbcType="VARCHAR"/> <!-- 菜单名称 -->
        <result column="icon" property="icon" jdbcType="VARCHAR"/> <!-- 图标（icon） -->
        <result column="url" property="url" jdbcType="LONGVARCHAR"/> <!--请求地址（url）-->
        <result column="view_menu_category_id" property="viewMenuCategoryId" jdbcType="BIGINT"/> <!-- 视图菜单分类 id -->
        <result column="sort" property="sort" jdbcType="BIGINT"/> <!-- 排序 -->
        <result column="remark" property="remark" jdbcType="VARCHAR"/> <!-- 备注 -->
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/> <!-- 更新时间 -->
        <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP"/> <!-- 创建时间 -->
    </resultMap>

    <sql id="TableName">
        `view_menu`
    </sql>

    <sql id="BaseColumnList">
        `id`, `name`, `icon`, `url`, `view_menu_category_id`, `sort`, `remark`, `gmt_modified`, `gmt_created`
    </sql>

    <insert id="insertOne" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.gioov.nimrod.user.entity.ViewMenuEntity">
        insert into
        <include refid="TableName"/>
        (`id`, `name`, `icon`, `url`, `view_menu_category_id`, `sort`, `remark`, `gmt_modified`, `gmt_created`)
        values (#{id}, #{name}, #{icon}, #{url}, #{viewMenuCategoryId}, #{sort}, #{remark},
        #{gmtModified}, #{gmtCreated})
    </insert>

    <update id="updateOne" keyProperty="id" parameterType="com.gioov.nimrod.user.entity.ViewMenuEntity">
        update
        <include refid="TableName"/>
        set `name` = #{name}, `icon` = #{icon}, `url` = #{url}, `view_menu_category_id` = #{viewMenuCategoryId}, `sort`
        = #{sort}, `remark` =
        #{remark}, `gmt_modified` = #{gmtModified}
        where `id`= #{id}
    </update>

    <delete id="deleteOne" parameterType="long">
        delete from
        <include refid="TableName"/>
        where `id` = #{id}
    </delete>

    <delete id="deleteAll">
        delete from
        <include refid="TableName"/>
        where `id` in
        (
        <foreach collection="list" item="item" index="index" separator=",">
            #{item}
        </foreach>
        )
    </delete>

    <select id="getOne" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from
        <include refid="TableName"/>
        where `id` = #{id} limit 1
    </select>

    <select id="listAllByViewMenuCategoryIdAndRoleId" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from
        <include refid="TableName"/>
        where `view_menu_category_id` = #{viewMenuCategoryId}
    </select>

    <select id="pageAllByViewMenuCategoryIdAndRoleId" resultMap="BaseResultMap"
            parameterType="com.github.pagehelper.Page">
        select
        <include refid="BaseColumnList"/>
        from
        <include refid="TableName"/>
        where `view_menu_category_id` = #{viewMenuCategoryId}
    </select>

    <select id="pageAllByViewMenuCategoryId" resultMap="BaseResultMap" parameterType="com.github.pagehelper.Page">
        select
        <include refid="BaseColumnList"/>
        from
        <include refid="TableName"/>
        where `view_menu_category_id` = #{viewMenuCategoryId}
    </select>

    <select id="getOneByViewMenuCategoryId" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from
        <include refid="TableName"/>
        where `view_menu_category_id` = #{viewMenuCategoryId} limit 1
    </select>

    <select id="searchAllByName" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from
        <include refid="TableName"/>
        where `name` like '%${name}%'
    </select>

    <select id="listAllByViewMenuCategoryIdAndRoleIdList" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from
        <include refid="TableName"/>
        where `view_menu_category_id` = #{viewMenuCategoryId} and `id` in (
        select `view_menu_id` from `role_view_menu` where `role_id` in (
        <foreach collection="roleIdList" item="item" index="index" separator=",">
            #{item}
        </foreach>
        )
        )
    </select>
    <select id="listAllByViewMenuCategoryIdList" resultType="com.gioov.nimrod.user.entity.ViewMenuEntity">
        select
        <include refid="BaseColumnList"/>
        from
        <include refid="TableName"/>
        where `view_menu_category_id` = #{viewMenuCategoryId}
    </select>

    <select id="pageAllByViewMenuCategoryIdList" resultMap="BaseResultMap" parameterType="com.github.pagehelper.Page">
        select
        <include refid="BaseColumnList"/>
        from
        <include refid="TableName"/>
        where `view_menu_category_id` in (
        <foreach collection="viewMenuCategoryIdList" item="item" index="index" separator=",">
            #{item}
        </foreach>
        )
    </select>

</mapper>
