<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gioov.nimrod.user.mapper.ViewMenuCategoryMapper">
    <resultMap id="BaseResultMap" type="com.gioov.nimrod.user.entity.ViewMenuCategoryEntity">
        <id column="id" property="id" jdbcType="BIGINT"/> <!-- id -->
        <result column="name" property="name" jdbcType="VARCHAR"/> <!-- 分类名称 -->
        <result column="icon" property="icon" jdbcType="VARCHAR"/> <!-- 图标（icon） -->
        <result column="parent_id" property="parentId" jdbcType="BIGINT"/> <!-- 父级分类 id -->
        <result column="sort" property="sort" jdbcType="BIGINT"/> <!-- 排序 -->
        <result column="remark" property="remark" jdbcType="VARCHAR"/> <!-- 备注 -->
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/> <!-- 更新时间 -->
        <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP"/> <!-- 创建时间 -->
    </resultMap>

    <sql id="TableName">
        `view_menu_category`
    </sql>

    <sql id="BaseColumnList">
        `id`, `name`, `icon`, `parent_id`, `sort`, `remark`, `gmt_modified`, `gmt_created`
    </sql>

    <insert id="insertOne" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.gioov.nimrod.user.entity.ViewMenuCategoryEntity">
        insert into
        <include refid="TableName"/>
        (`id`, `name`, `icon`, `parent_id`, `sort`, `remark`, `gmt_modified`, `gmt_created`)
        values (#{id}, #{name}, #{icon}, #{parentId}, #{sort}, #{remark}, #{gmtModified}, #{gmtCreated})
    </insert>

    <update id="updateOne" keyProperty="id" parameterType="com.gioov.nimrod.user.entity.ViewMenuCategoryEntity">
        update
        <include refid="TableName"/>
        set `name` = #{name}, `icon` = #{icon}, `sort` = #{sort}, `remark` = #{remark}, `gmt_modified` = #{gmtModified}
        where `id`= #{id}
    </update>

    <delete id="deleteOne" parameterType="long">
        delete from
        <include refid="TableName"/>
        where `id` = #{id}
    </delete>

    <delete id="deleteAll">
        delete from
        <include refid="TableName"/>
        where `id` in
        (
        <foreach collection="list" item="item" index="index" separator=",">
            #{item}
        </foreach>
        )
    </delete>

    <select id="getOne" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from
        <include refid="TableName"/>
        where `id` = #{id} limit 1
    </select>

    <!--    <select id="listAllByParentIdIsNullAndRoleIdList" resultMap="BaseResultMap">-->
    <!--        select-->
    <!--        <include refid="BaseColumnList"/>-->
    <!--        from-->
    <!--        <include refid="TableName"/>-->
    <!--        where `parent_id` is null and `role_id` in (-->
    <!--        <foreach collection="roleId" item="item" index="index" separator=",">-->
    <!--            #{item}-->
    <!--        </foreach>-->
    <!--        )-->
    <!--    </select>-->

    <select id="listAllByParentIdIsNullAndRoleIdList" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from
        <include refid="TableName"/>
        where `parent_id` is null and `id` in (
        select `view_menu_category_id` from `role_view_menu_category` where `role_id` in (
        <foreach collection="roleIdList" item="item" index="index" separator=",">
            #{item}
        </foreach>
        )
        )

    </select>

    <select id="listAllByParentIdAndRoleId" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from
        <include refid="TableName"/>
        where `parent_id` = #{parentId}
    </select>

    <select id="listAllByParentId" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from
        <include refid="TableName"/>
        where `parent_id` = #{parentId}
    </select>

    <select id="listAllByParentIdIsNull" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from
        <include refid="TableName"/>
        where `parent_id` is null
    </select>

    <select id="getOneByParentId" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from
        <include refid="TableName"/>
        where `parent_id` = #{parentId} limit 1
    </select>

    <select id="listAll" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from
        <include refid="TableName"/>
    </select>

    <select id="searchAllByName" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from
        <include refid="TableName"/>
        where `name` like '%${name}%'
    </select>

    <select id="listAllByParentIdIsNullAndRoleId" resultMap="BaseResultMap" parameterType="long">
        select
        <include refid="BaseColumnList"/>
        from
        <include refid="TableName"/>
        where `parent_id` is null
    </select>

    <select id="listAllByParentIdAndRoleIdList" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from
        <include refid="TableName"/>
        where `parent_id` = #{parentId} and `id` in (
        select `view_menu_category_id` from `role_view_menu_category` where `role_id` in (
        <foreach collection="roleIdList" item="item" index="index" separator=",">
            #{item}
        </foreach>
        )
        )
    </select>

</mapper>
