<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gioov.nimrod.system.mapper.DictionaryMapper">
    <resultMap id="BaseResultMap" type="com.gioov.nimrod.system.entity.DictionaryEntity">
        <id column="id" property="id" jdbcType="BIGINT"/> <!-- id -->
        <result column="key_name" property="keyName" jdbcType="VARCHAR"/> <!-- 字典键名 -->
        <result column="key" property="key" jdbcType="VARCHAR"/> <!-- 字典键 -->
        <result column="value_name" property="valueName" jdbcType="VARCHAR"/> <!-- 字典值名 -->
        <result column="value_slug" property="valueSlug" jdbcType="VARCHAR"/> <!-- 字典值别名 -->
        <result column="value" property="value" jdbcType="LONGVARCHAR"/> <!-- 字典值 -->
        <result column="dictionary_category_id" property="dictionaryCategoryId" jdbcType="BIGINT"/> <!-- 字典分类 id -->
        <result column="enabled" property="enabled" jdbcType="TINYINT"/> <!-- 是否启用（0=否，1=是，默认=0） -->
        <result column="sort" property="sort" jdbcType="BIGINT"/> <!-- 排序 -->
        <result column="remark" property="remark" jdbcType="VARCHAR"/> <!-- 备注 -->
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/> <!-- 更新时间 -->
        <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP"/> <!-- 创建时间 -->
    </resultMap>

    <sql id="TableName">
        `dictionary`
    </sql>

    <sql id="BaseColumnList">
        `id`, `key_name`, `key`, `value_name`, `value_slug`, `value`, `enabled`, `dictionary_category_id`, `sort`, `remark`, `gmt_modified`, `gmt_created`
    </sql>

    <insert id="insertOne" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.gioov.nimrod.system.entity.DictionaryEntity">
        insert into
        <include refid="TableName"/>
        (`id`, `key_name`, `key`, `value_name`, `value_slug`, `value`,`dictionary_category_id`, `enabled`, `sort`,
        `remark`, `gmt_modified`, `gmt_created`)
        values (#{id}, #{keyName}, #{key}, #{valueName}, #{valueSlug}, #{value}, #{dictionaryCategoryId}, #{enabled},
        #{sort}, #{remark}, #{gmtModified}, #{gmtCreated})
    </insert>

    <update id="updateOne" keyProperty="id" parameterType="com.gioov.nimrod.system.entity.DictionaryEntity">
        update
        <include refid="TableName"/>
        set `key_name` = #{keyName}, `key` = #{key}, `value_name` = #{valueName}, `value_slug` = #{valueSlug}, `value` =
        #{value}, `dictionary_category_id` = #{dictionaryCategoryId}, `enabled` = #{enabled}, `sort` = #{sort}, `remark`
        = #{remark}, `gmt_modified` = #{gmtModified}
        where `id`= #{id}
    </update>

    <delete id="deleteOne" parameterType="long">
        delete from
        <include refid="TableName"/>
        where `id` = #{id}
    </delete>

    <select id="getOne" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from
        <include refid="TableName"/>
        where `id` = #{id} limit 1
    </select>

    <select id="listAll" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from
        <include refid="TableName"/>
    </select>

    <!--    <select id="pageAll" resultMap="BaseResultMap" parameterType="com.github.pagehelper.Page">-->
    <!--        select-->
    <!--        <include refid="BaseColumnList"/>-->
    <!--        from-->
    <!--        <include refid="TableName"/>-->
    <!--    </select>-->

    <select id="getOneByDictionaryCategoryId" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from
        <include refid="TableName"/>
        where `dictionary_category_id` = #{dictionaryCategoryId} limit 1
    </select>

    <select id="pageAllByDictionaryCategoryId" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from
        <include refid="TableName"/>
        where `dictionary_category_id` = #{dictionaryCategoryId}
    </select>

    <select id="getOneByKeyAndValueSlug" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from
        <include refid="TableName"/>
        where `key` = #{key} AND `value_slug` = #{valueSlug} limit 1
    </select>
    <select id="listAllByKey" resultMap="BaseResultMap" parameterType="string">
        select
        <include refid="BaseColumnList"/>
        from
        <include refid="TableName"/>
        where `key` = #{key}
    </select>

    <delete id="deleteAll">
        delete from
        <include refid="TableName"/>
        where `id` in
        (
        <foreach collection="list" item="item" index="index" separator=",">
            #{item}
        </foreach>
        )
    </delete>

    <select id="listAllByDictionaryCategoryId" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from
        <include refid="TableName"/>
        where `dictionary_category_id` = #{dictionaryCategoryId}
    </select>

    <select id="pageAllByDictionaryCategoryIdList" resultMap="BaseResultMap" parameterType="com.github.pagehelper.Page">
        select
        <include refid="BaseColumnList"/>
        from
        <include refid="TableName"/>
        where `dictionary_category_id` in (
        <foreach collection="dictionaryCategoryIdList" item="item" index="index" separator=",">
            #{item}
        </foreach>
        )
    </select>

</mapper>
