<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gioov.nimrod.system.mapper.FileMapper">
    <resultMap id="BaseResultMap" type="com.gioov.nimrod.system.entity.FileEntity">
        <id column="id" property="id" jdbcType="BIGINT"/> <!-- id -->
        <result column="user_id" property="userId" jdbcType="BIGINT"/> <!-- 用户 id -->
        <result column="name" property="name" jdbcType="VARCHAR"/> <!-- 文件名 -->
        <result column="size" property="size" jdbcType="BIGINT"/> <!-- 文件大小 -->
        <result column="pretty_size" property="prettySize" jdbcType="VARCHAR"/> <!-- 文件美化大小 -->
        <result column="mime_type" property="mimeType" jdbcType="VARCHAR"/> <!-- MIME 类型 -->
        <result column="path" property="path" jdbcType="LONGVARCHAR"/> <!-- 文件路径 -->
        <result column="guid" property="guid" jdbcType="VARCHAR"/> <!-- 唯一标识符 -->
        <result column="remark" property="remark" jdbcType="VARCHAR"/> <!-- 备注 -->
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/> <!-- 更新时间 -->
        <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP"/> <!-- 创建时间 -->
    </resultMap>

    <sql id="TableName">
        `file`
    </sql>

    <sql id="BaseColumnList">
        `id`, `user_id`, `name`, `size`, `pretty_size`, `mime_type`, `path`, `guid`, `remark`, `gmt_modified`, `gmt_created`
    </sql>

    <insert id="insertOne" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.gioov.nimrod.system.entity.FileEntity">
        insert into
        <include refid="TableName"/>
        ( `user_id`,`name`, `size`, `pretty_size`, `mime_type`, `path`, `guid`, `remark`, `gmt_modified`, `gmt_created`)
        values (#{userId}, #{name}, #{size}, #{prettySize}, #{mimeType}, #{path}, #{guid}, #{remark}, #{gmtCreated},
        #{gmtModified})
    </insert>

    <update id="updateOne" keyProperty="id" parameterType="com.gioov.nimrod.system.entity.FileEntity">
        update
        <include refid="TableName"/>
        set `name` = #{name}, `size` = #{size}, `pretty_size` = #{prettySize}, `mime_type` = #{mimeType}, `path` =
        #{path}, `guid` = #{guid}, `remark` = #{remark}, `gmt_created` = #{gmtCreated}, `gmt_modified` = #{gmtModified}
        where `id`= #{id}
    </update>

    <delete id="deleteOne" parameterType="long">
        delete from
        <include refid="TableName"/>
        where `id` = #{id}
    </delete>

    <delete id="deleteAll">
        delete from
        <include refid="TableName"/>
        where `id` in
        (
        <foreach collection="list" item="item" index="index" separator=",">
            #{item}
        </foreach>
        )
    </delete>

    <select id="getOne" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from
        <include refid="TableName"/>
        where `id` = #{id} limit 1
    </select>

    <select id="listAll" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from
        <include refid="TableName"/>
    </select>

    <select id="pageAll" resultMap="BaseResultMap" parameterType="com.github.pagehelper.Page">
        select
        <include refid="BaseColumnList"/>
        from
        <include refid="TableName"/>
    </select>

    <select id="pageAllByUserId" resultMap="BaseResultMap" parameterType="com.github.pagehelper.Page">
        select
        <include refid="BaseColumnList"/>
        from
        <include refid="TableName"/>
        where `user_id` = #{userId}
    </select>

    <select id="pageAllImage" resultMap="BaseResultMap" parameterType="com.github.pagehelper.Page">
        select
        <include refid="BaseColumnList"/>
        from
        <include refid="TableName"/>
        where `mime_type` like 'image%'
    </select>

    <select id="pageAllImageByUserId" resultMap="BaseResultMap" parameterType="com.github.pagehelper.Page">
        select
        <include refid="BaseColumnList"/>
        from
        <include refid="TableName"/>
        where `mime_type` like 'image%' and `user_id` = #{userId}
    </select>

    <select id="getOneByGuid" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from
        <include refid="TableName"/>
        where `guid` = #{guid} limit 1
    </select>

</mapper>
