<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gioov.nimrod.system.mapper.ViewPageApiMapper">
    <resultMap id="BaseResultMap" type="com.gioov.nimrod.system.entity.ViewPageApiEntity">
        <id column="id" property="id" jdbcType="BIGINT"/> <!-- id -->
        <result column="page_id" property="pageId" jdbcType="BIGINT"/> <!-- 视图页面 id -->
        <result column="api_id" property="apiId" jdbcType="BIGINT"/> <!-- API id -->
    </resultMap>

    <sql id="TableName">
        `view_page_api`
    </sql>

    <sql id="BaseColumnList">
        `id`
        ,
        `page_id`,
        `api_id`
    </sql>

    <insert id="insertAllByPageIdAndApiIdList" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        <include refid="TableName"/>
        (`page_id`, `api_id`)
        VALUES
        <foreach collection="apiIdList" item="item" index="index" separator=",">
            <if test="item != ''">
                (#{pageId}, #{item})
            </if>
        </foreach>
    </insert>

    <delete id="deleteAllByPageIdAndApiIdList">
        DELETE FROM
        <include refid="TableName"/>
        WHERE `page_id` = #{pageId} AND `api_id` IN (
        <foreach collection="apiIdList" item="item" index="index" separator=",">
            #{item}
        </foreach>
        )
    </delete>

    <select id="getOne" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumnList"/>
        FROM
        <include refid="TableName"/>
        WHERE `id` = #{id} LIMIT 1
    </select>


    <select id="listAllByPageId" resultMap="BaseResultMap" parameterType="long">
        SELECT
        <include refid="BaseColumnList"/>
        FROM
        <include refid="TableName"/>
        WHERE `page_id` = #{pageId}
    </select>

    <select id="pageAll" resultMap="BaseResultMap" parameterType="com.gioov.common.mybatis.Pageable">
        SELECT
        <include refid="BaseColumnList"/>
        FROM
        <include refid="TableName"/>
        ${pageable}
    </select>

    <select id="getOneByPageIdAndApiId" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumnList"/>
        FROM
        <include refid="TableName"/>
        WHERE `page_id` = #{pageId} AND `api_id` = #{apiId} LIMIT 1
    </select>

</mapper>
