<div class="submit-form">
    <table class="submit-table">
        <tr>
            <td class="label">页面名称：</td>
            <td>
                <input name="name" class="easyui-textbox" data-options="required:true">
                <input name="id" type="hidden">
            </td>
        </tr>
        <tr>
            <td class="label">请求地址（url）：</td>
            <td><input name="url" class="easyui-textbox" style="height:50px;"
                       data-options="required:true,multiline:true"></td>
        </tr>
        <tr>
            <td class="label">权限（authority）：</td>
            <td><input name="authority" class="easyui-textbox" style="height:50px;"
                       data-options="required:true,multiline:true"></td>
        </tr>
        <tr>
            <td class="label">排序：</td>
            <td><input name="sort" class="easyui-numberbox" data-options="required:false"></td>
        </tr>
        <tr>
            <td class="label">备注：</td>
            <td><input name="remark" class="easyui-textbox" style="height:50px;"
                       data-options="required:false,multiline:true"></td>
        </tr>
    </table>
</div>