<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 读取 spring.application.name 属性来生成日志文件名
    scope：作用域
    name：在 logback-spring.xml 使用的键
    source：application.properties 文件中的键
    defaultValue：默认值 -->
    <contextName>logback</contextName>
    <springProperty scope="logback" name="log.dir" source="log.dir" defaultValue="../logs/app"/>
    <springProperty scope="logback" name="log.max_history" source="log.max_history" defaultValue="30"/>
    <springProperty scope="logback" name="log.max_file_size" source="log.max_file_size" defaultValue="10MB"/>
    <springProperty scope="logback" name="log.total_size_cap" source="log.total_size_cap" defaultValue="2GB"/>
    <!-- ConsoleAppender 控制台输出日志-->
    <appender name="CONSOLE_LOG" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} Line:%-3L - %msg%n</pattern>
            <charset>UTF-8</charset> <!-- 默认编码：UTF-8，Windows 系统可能需要用 GBK 编码-->
        </encoder>
    </appender>
    <!-- 日志记录器，日期滚动记录 -->
    <appender name="ERROR_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} Line:%-3L - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <!-- 追加方式记录日志 -->
        <append>true</append>
        <!-- 日志记录器的滚动策略，按日期，按大小记录 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 除按日志记录之外，还配置了日志文件不能超过2M，若超过2M，日志文件会以索引0开始，命名日志文件，例如log-error-2013-12-21.0.log -->
            <fileNamePattern>${log.dir}/error/log_error_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- 日志文件的最大大小 -->
            <maxFileSize>${log.max_file_size}</maxFileSize>
            <!-- 日志文件保存的最大天数 -->
            <maxHistory>${log.max_history}</maxHistory>
            <!-- 日志文件总量大小 -->
            <totalSizeCap>${log.total_size_cap}</totalSizeCap>
        </rollingPolicy>
    </appender>
    <appender name="WARN_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} Line:%-3L - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.dir}/warn/log_warn_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>${log.max_file_size}</maxFileSize>
            <maxHistory>${log.max_history}</maxHistory>
            <totalSizeCap>${log.total_size_cap}</totalSizeCap>
        </rollingPolicy>
    </appender>
    <appender name="INFO_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} |-%-5level in %logger Line:%-3L - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.dir}/info/log_info_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>${log.max_file_size}</maxFileSize>
            <maxHistory>${log.max_history}</maxHistory>
            <totalSizeCap>${log.total_size_cap}</totalSizeCap>
        </rollingPolicy>
    </appender>
    <appender name="ASYNC_CONSOLE_LOG" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>256</queueSize>
        <appender-ref ref="CONSOLE_LOG"/>
    </appender>
    <appender name="ASYNC_ERROR_LOG" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>256</queueSize>
        <appender-ref ref="ERROR_LOG"/>
    </appender>
    <appender name="ASYNC_WARN_LOG" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>256</queueSize>
        <appender-ref ref="WARN_LOG"/>
    </appender>
    <appender name="ASYNC_INFO_LOG" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>256</queueSize>
        <appender-ref ref="INFO_LOG"/>
    </appender>

    <!-- 生产环境下，将此级别配置为适合的级别，以免日志文件太多或影响程序性能 -->
    <root level="INFO">
        <!-- 生产环境建议将 CONSOLE_LOG 去掉 -->
        <appender-ref ref="CONSOLE_LOG"/>
        <appender-ref ref="ERROR_LOG"/>
        <appender-ref ref="WARN_LOG"/>
        <appender-ref ref="INFO_LOG"/>
    </root>
</configuration>