<div class="submit-form">
    <table class="submit-table">
        <tr>
            <td class="label">ID：</td>
            <td>
                <input name="id" class="easyui-textbox" data-options="disabled: true">
            </td>
        </tr>
        <tr>
            <td class="label">访问用户：</td>
            <td>
                <input name="username" class="easyui-textbox" data-options="disabled: true">
            </td>
        </tr>
        <tr>
            <td class="label">用户 IP：</td>
            <td>
                <input name="ipAddress" class="easyui-textbox" data-options="disabled: true">
            </td>
        </tr>
        <tr>
            <td class="label">操作类型：</td>
            <td>
                <input name="operationType" class="easyui-textbox" data-options="disabled: true">
            </td>
        </tr>
        <tr>
            <td class="label">操作说明：</td>
            <td><input name="operation" class="easyui-textbox" style="height:50px;" data-options="disabled: true,multiline:true"></td>
        </tr>
        <tr>
            <td class="label">请求耗时（毫秒）：</td>
            <td>
                <input name="consumingTime" class="easyui-textbox" data-options="disabled: true">
            </td>
        </tr>
        <tr>
            <td class="label">请求地址（url）：</td>
            <td><input name="requestUrl" class="easyui-textbox" style="height:50px;"
                       data-options="disabled: true,multiline:true"></td>
        </tr>
        <tr>
            <td class="label">请求方法：</td>
            <td><input name="requestMethod" class="easyui-textbox" style="height:50px;" data-options="disabled: true,multiline:true"></td>
        </tr>
        <tr>
            <td class="label">请求参数：</td>
            <td><input name="requestParameter" class="easyui-textbox" style="height:50px;" data-options="disabled: true,multiline:true"></td>
        </tr>
        <tr>
            <td class="label">请求语言：</td>
            <td>
                <input name="acceptLanguage" class="easyui-textbox" data-options="disabled: true">
            </td>
        </tr>
        <tr>
            <td class="label">请求来源：</td>
            <td><input name="referer" class="easyui-textbox" style="height:50px;" data-options="disabled: true,multiline:true"></td>
        </tr>
        <tr>
            <td class="label">用户代理：</td>
            <td><input name="userAgent" class="easyui-textbox" style="height:100px;" data-options="disabled: true,multiline:true"></td>
        </tr>
        <tr>
            <td class="label">Handler：</td>
            <td><input name="handler" class="easyui-textbox" style="height:100px;" data-options="disabled: true,multiline:true"></td>
        </tr>
        <tr>
            <td class="label">异常堆栈：</td>
            <td><input name="stackTrace" class="easyui-textbox" style="height:100px;"
                       data-options="disabled: true,multiline:true"></td>
        </tr>
        <tr>
            <td class="label">Session ID：</td>
            <td><input name="sessionId" class="easyui-textbox" style="height:50px;" data-options="disabled: true,multiline:true"></td>
        </tr>
        <tr>
            <td class="label">Cookie：</td>
            <td><input name="cookie" class="easyui-textbox" style="height:100px;" data-options="disabled: true,multiline:true"></td>
        </tr>
        <tr>
            <td class="label">响应状态码：</td>
            <td>
                <input name="status" class="easyui-textbox" data-options="disabled: true">
            </td>
        </tr>
        <tr>
            <td class="label">创建时间：</td>
            <td>
                <input name="gmtCreated" class="easyui-textbox" data-options="disabled: true">
            </td>
        </tr>
    </table>
</div>
