<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gioov.nimrod.mail.mapper.MailMapper">
    <resultMap id="BaseResultMap" type="com.gioov.nimrod.mail.entity.MailEntity">
        <id column="id" property="id" jdbcType="BIGINT"/> <!-- id -->
        <result column="status" property="status" jdbcType="INTEGER"/> <!-- 发信状态 -->
        <result column="from" property="from" jdbcType="VARCHAR"/> <!-- 发件人 -->
        <result column="to" property="to" jdbcType="VARCHAR"/> <!-- 收件人 -->
        <result column="subject" property="subject" jdbcType="VARCHAR"/> <!-- 主题 -->
        <result column="text" property="text" jdbcType="LONGVARCHAR"/> <!-- 内容 -->
        <result column="html" property="html" jdbcType="INTEGER"/> <!-- 是否为 html，0=否，1=是 -->
        <result column="error" property="error" jdbcType="LONGVARCHAR"/> <!-- 发信报错信息 -->
        <result column="remark" property="remark" jdbcType="VARCHAR"/> <!-- 备注 -->
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/> <!-- 更新时间 -->
        <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP"/> <!-- 创建时间 -->
    </resultMap>

    <sql id="TableName">
        `mail`
    </sql>

    <sql id="BaseColumnList">
        `id`, `status`, `from`, `to`, `subject`, `text`, `html`, `error`, `remark`, `gmt_modified`, `gmt_created`
    </sql>

    <insert id="insertOne" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.gioov.nimrod.mail.entity.MailEntity">
        insert into
        <include refid="TableName"/>
        (`id`, `status`, `from`, `to`, `subject`, `text`, `html`, `error`, `remark`, `gmt_modified`, `gmt_created`)
        values (#{id}, #{status}, #{from}, #{to}, #{subject}, #{text}, #{html}, #{error}, #{remark}, #{gmtModified},
        #{gmtCreated})
    </insert>

    <update id="updateOne" keyProperty="id" parameterType="com.gioov.nimrod.mail.entity.MailEntity">
        update
        <include refid="TableName"/>
        set `status` = #{status}, `from` = #{from}, `to` = #{to}, `subject` = #{subject}, `text` = #{text}, `html` =
        #{html}, `error` = #{error}, `remark` = #{remark}, `gmt_modified` = #{gmtModified}
        where `id`= #{id}
    </update>

    <delete id="deleteOne" parameterType="long">
        delete from
        <include refid="TableName"/>
        where `id` = #{id}
    </delete>

    <delete id="deleteAll">
        delete from
        <include refid="TableName"/>
        where `id` in
        (
        <foreach collection="list" item="item" index="index" separator=",">
            #{item}
        </foreach>
        )
    </delete>

    <select id="getOne" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from
        <include refid="TableName"/>
        where `id` = #{id} limit 1
    </select>

    <select id="pageAll" resultMap="BaseResultMap" parameterType="com.github.pagehelper.Page">
        select
        <include refid="BaseColumnList"/>
        from
        <include refid="TableName"/>
    </select>

    <select id="listAllByStatus" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from
        <include refid="TableName"/>
        where `status` in
        (
        <foreach collection="statusList" item="item" index="index" separator=",">
            #{item}
        </foreach>
        )
    </select>

</mapper>
