<div class="submit-form">
    <table class="submit-table">
        <tr>
            <td class="label">文件名：</td>
            <td>
                <input name="name" class="easyui-textbox" data-options="required:true">
                <input name="id" type="hidden">
            </td>
        </tr>
        <tr>
            <td class="label">文件大小：</td>
            <td>
                <input name="prettySize" class="easyui-textbox" data-options="disabled:true">
            </td>
        </tr>
        <tr>
            <td class="label">唯一标识符：</td>
            <td>
                <input name="guid" class="easyui-textbox" data-options="disabled:true">
            </td>
        </tr>
        <tr>
            <td class="label">MIME 类型：</td>
            <td>
                <input name="mimeType" class="easyui-textbox" data-options="disabled:true">
            </td>
        </tr>
        <tr>
            <td class="label">文件路径：</td>
            <td><input name="path" class="easyui-textbox" style="height:50px;"
                       data-options="multiline:true,disabled:true"></td>
        </tr>
        <tr>
            <td class="label">备注：</td>
            <td><input name="remark" class="easyui-textbox" style="height:50px;" data-options="multiline:true"></td>
        </tr>
    </table>
</div>
