<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gioov.nimrod.flowable.mapper.ActReProcdefMapper">
    <resultMap id="BaseResultMap" type="com.gioov.nimrod.flowable.entity.ActReProcdefEntity">
        <id column="id_" property="id_" jdbcType="VARCHAR"/> <!-- ID_ -->
        <result column="rev_" property="rev_" jdbcType="INTEGER"/> <!-- REV_ -->
        <result column="category_" property="category_" jdbcType="VARCHAR"/> <!-- CATEGORY_ -->
        <result column="name_" property="name_" jdbcType="VARCHAR"/> <!-- NAME_ -->
        <result column="key_" property="key_" jdbcType="VARCHAR"/> <!-- KEY_ -->
        <result column="version_" property="version_" jdbcType="INTEGER"/> <!-- VERSION_ -->
        <result column="deployment_id_" property="deploymentId_" jdbcType="VARCHAR"/> <!-- DEPLOYMENT_ID_ -->
        <result column="resource_name_" property="resourceName_" jdbcType="VARCHAR"/> <!-- RESOURCE_NAME_ -->
        <result column="dgrm_resource_name_" property="dgrmResourceName_" jdbcType="VARCHAR"/> <!-- DGRM_RESOURCE_NAME_ -->
        <result column="description_" property="description_" jdbcType="VARCHAR"/> <!-- DESCRIPTION_ -->
        <result column="has_start_form_key_" property="hasStartFormKey_" jdbcType="INTEGER"/> <!-- HAS_START_FORM_KEY_ -->
        <result column="has_graphical_notation_" property="hasGraphicalNotation_" jdbcType="INTEGER"/> <!-- HAS_GRAPHICAL_NOTATION_ -->
        <result column="suspension_state_" property="suspensionState_" jdbcType="INTEGER"/> <!-- SUSPENSION_STATE_ -->
        <result column="tenant_id_" property="tenantId_" jdbcType="VARCHAR"/> <!-- TENANT_ID_ -->
        <result column="engine_version_" property="engineVersion_" jdbcType="VARCHAR"/> <!-- ENGINE_VERSION_ -->
        <result column="derived_from_" property="derivedFrom_" jdbcType="VARCHAR"/> <!-- DERIVED_FROM_ -->
        <result column="derived_from_root_" property="derivedFromRoot_" jdbcType="VARCHAR"/> <!-- DERIVED_FROM_ROOT_ -->
        <result column="derived_version_" property="derivedVersion_" jdbcType="INTEGER"/> <!-- DERIVED_VERSION_ -->
    </resultMap>

    <sql id="TableName">
        `act_re_procdef`
    </sql>

    <sql id="BaseColumnList">
        `id_`, `rev_`, `category_`, `name_`, `key_`, `version_`, `deployment_id_`, `resource_name_`, `dgrm_resource_name_`, `description_`, `has_start_form_key_`, `has_graphical_notation_`, `suspension_state_`, `tenant_id_`, `engine_version_`, `derived_from_`, `derived_from_root_`, `derived_version_`
    </sql>

    <insert id="insertOne" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.gioov.nimrod.mail.entity.MailEntity">
        INSERT INTO
        <include refid="TableName"/>
        (`id`, `status`, `from`, `to`, `subject`, `text`, `html`, `error`, `remark`, `gmt_modified`, `gmt_created`)
        VALUES (#{id}, #{status}, #{from}, #{to}, #{subject}, #{text}, #{html}, #{error}, #{remark}, #{gmtModified},
        #{gmtCreated})
    </insert>

    <update id="updateOne" keyProperty="id" parameterType="com.gioov.nimrod.mail.entity.MailEntity">
        UPDATE
        <include refid="TableName"/>
        SET `status` = #{status}, `from` = #{from}, `to` = #{to}, `subject` = #{subject}, `text` = #{text}, `html` =
        #{html}, `error` = #{error}, `remark` = #{remark}, `gmt_modified` = #{gmtModified}
        WHERE `id`= #{id}
    </update>

    <delete id="deleteOne" parameterType="long">
        DELETE FROM
        <include refid="TableName"/>
        WHERE `id` = #{id}
    </delete>

    <delete id="deleteAll">
        DELETE FROM
        <include refid="TableName"/>
        WHERE `id` IN
        (
        <foreach collection="list" item="item" index="index" separator=",">
            #{item}
        </foreach>
        )
    </delete>

    <select id="getOne" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumnList"/>
        FROM
        <include refid="TableName"/>
        WHERE `id` = #{id} LIMIT 1
    </select>

    <select id="pageAll" resultMap="BaseResultMap" parameterType="com.gioov.common.mybatis.Pageable">
        SELECT
        <include refid="BaseColumnList"/>
        FROM
        <include refid="TableName"/>
        ${pageable}
    </select>

    <select id="countAll" resultType="int">
        SELECT COUNT(1) FROM
        <include refid="TableName"/>
    </select>

</mapper>
