<div class="submit-form">
    <table class="submit-table">
        <tr>
            <td class="label">原密码：</td>
            <td><input name="password" id="password2" class="easyui-passwordbox" data-options="required:true">
            </td>
        </tr>
        <tr>
            <td class="label">新密码：</td>
            <td><input name="newPassword" id="newPassword" class="easyui-passwordbox" data-options="required:true,validType:'password'"></td>
        </tr>
        <tr>
            <td class="label">重输密码：</td>
            <td><input name="confirmNewPassword" id="confirmNewPassword" class="easyui-passwordbox" data-options="required:true,validType:'confirmPassword[\'#newPassword\']'">
            </td>
        </tr>
    </table>
</div>