<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="./widget/base(title='登录')"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/base.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/login.css}">
    <script type="text/javascript" th:src="@{/assets/js/util.js}" charset="UTF-8"></script>
    <script th:src="@{/assets/vendor/jquery.placeholder-2.3.1.js}"></script>
    <script th:src="@{/assets/js/login.js}"></script>
    <script>
        /**
         * iframe 框架刷新父页面
         */
        if (window.top !== window.self) {
            window.top.location = window.location;
        }
    </script>
</head>
<body>
<div class="login-page">
    <div class="login-box">
        <div class="login-header">
            <p><img th:src="@{/assets/img/login_banner.png}" style="margin-right:30px;"/></p>
        </div>
        <div class="login-body">
            <div class="login-body-left"></div>
            <div class="login-body-right">
                <div class="right-title">用户登录</div>
                <form th:action="@{/user/login/form}">
                    <div class="account">
<!--                        <img th:src="@{/assets/img/login/username.png}" alt="">-->
                        <i class="iconfont icon-user"></i>
                        <input id="account" name="account" type="text" placeholder="请输入用户名">
                    </div>
                    <div class="password">
                        <i class="iconfont icon-lock"></i>
                        <input id="password" name="password" type="password" placeholder="请输入密码">
                    </div>
                    <div class="verify-code">
                        <div class="verify-code-image">
                            <img id="verifyCodeImage" th:src="@{/api/system/verify_code}"/>
                        </div>
                        <i class="iconfont icon-image"></i>
                        <input id="verifyCode" name="verifyCode" type="text" placeholder="请输入验证码">
                    </div>
                    <div class="remember-me">
                       <input id="rememberMe" type="checkbox"><div>记住我</div>
                    </div>
                    <div class="login-button"><a id="loginButton" href="javascript:;">登&nbsp;&nbsp;&nbsp;&nbsp;录</a></div>
                    <p style="margin-top:20px;font-size:12px;color:#FA6F03;text-align: center">登录遇到问题，请联系管理员</p>
                </form>
            </div>
        </div>
        <div class="login-footer">
            <p>&copy; 2020 godcheese.com</p>
            <p>建议浏览器：Google Chrome、Firefox、Internet Explorer 9 及以上等</p>
        </div>
    </div>
</div>
</body>
</html>