<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="./widget/base(title=${#servletContext.getAttribute('WEB.NAME')})"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/workbench.css}">
    <script type="text/javascript" th:src="@{/assets/vendor/echarts.min.js}"></script>
    <script th:src="@{/assets/js/workbench.js}"></script>
</head>
<body style="overflow-x: hidden">
<div class="container" style="margin:0;padding: 10px 5px 5px 10px;">
    <div id="body">
        <div class="body-content">
            <div class="right-zone">
                <div class="right-box-one item-box">
                    <div class="right-box-header">
                        <label>通知公告</label>
                        <a href="javascript:;">更多<span>&gt;</span></a>
                    </div>
                    <ul>
                        <li>
                            <span></span>
                            <a href="javascript:;" class="ellipsis">摩拜成为历史，前员工回忆昔日辉煌：“ofo根本就不是对手”</a>
                            <label>01-11</label>
                        </li>
                        <li>
                            <span></span>
                            <a href="javascript:;" class="ellipsis">程序员放弃互联网选择去银行，但想到同学工资高好几倍心里不平衡</a>
                            <label>01-10</label>
                        </li>
                        <li>
                            <span></span>
                            <a href="javascript:;" class="ellipsis">第二大内存制造商海力士两年来利润首降</a>
                            <label>01-09</label>
                        </li>
                        <li>
                            <span></span>
                            <a href="javascript:;" class="ellipsis">法国小哥感谢微信支付进入法国 要请马化腾来巴黎吃饭</a>
                            <label>01-08</label>
                        </li>
                        <li>
                            <span></span>
                            <a href="javascript:;" class="ellipsis">恶意扣费、信息窃取！7873款恶意APP被集中清理</a>
                            <label>01-07</label>
                        </li>
                        <li>
                            <span></span>
                            <a href="javascript:;" class="ellipsis">谷歌要求美国高院终止甲骨文Java侵权诉讼</a>
                            <label>01-06</label>
                        </li>
                    </ul>
                </div>
                <div class="right-box-two item-box">
                    <div class="right-box-header">
                        <label>公司新闻</label>
                        <a href="javascript:;">更多<span>&gt;</span></a>
                    </div>
                    <ul>
                        <li>
                            <span></span>
                            <a href="javascript:;" class="ellipsis">电商平台，如何做好站内信功能</a>
                            <label>01-11</label>
                        </li>
                        <li>
                            <span></span>
                            <a href="javascript:;" class="ellipsis">戴森被中国人买成首富！一年大赚百亿 技术控还是营销大师？</a>
                            <label>01-10</label>
                        </li>
                        <li>
                            <span></span>
                            <a href="javascript:;" class="ellipsis">小程序，大视界：一文解读微信小程序用户行为</a>
                            <label>01-09</label>
                        </li>
                        <li>
                            <span></span>
                            <a href="javascript:;" class="ellipsis">摩拜这个名字价值16亿元，可惜美团已经下定改名决心</a>
                            <label>01-08</label>
                        </li>
                        <li>
                            <span></span>
                            <a href="javascript:;" class="ellipsis">淘宝卖家：一天几千营业额，还要省吃俭用，看直通车账户</a>
                            <label>01-07</label>
                        </li>
                        <li>
                            <span></span>
                            <a href="javascript:;" class="ellipsis">微软正在开发下一个Win10版本 预计年底发布</a>
                            <label>01-06</label>
                        </li>
                        <li>
                            <span></span>
                            <a href="javascript:;" class="ellipsis">滴滴顺风车春运将上线？官方回应！</a>
                            <label>01-05</label>
                        </li>
                    </ul>
                </div>
                <div class="right-box-three item-box">
                    <div class="right-box-header">
                        <label>文件下载</label>
                        <a href="javascript:;">更多<span>&gt;</span></a>
                    </div>
                    <div class="right-box-tab">
                        <a class="current item-left" href="#fileCategory1">文件目录1</a>
                        <a class="item-right" href="#fileCategory2">文件目录2</a>
                    </div>
                    <div class="right-box-tab-list">
                        <ul id="fileCategory1">
                            <li>
                                <span></span>
                                <a href="javascript:;" class="ellipsis">文件1.xlsx</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="javascript:;" class="ellipsis">文件2.xls</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="javascript:;" class="ellipsis">文件3.doc</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="javascript:;" class="ellipsis">文件4.ppt</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="javascript:;" class="ellipsis">文件5.doc</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="javascript:;" class="ellipsis">文件6.doc</a>
                            </li>
                        </ul>
                        <ul id="fileCategory2" class="hide">
                            <li>
                                <span></span>
                                <a href="javascript:;" class="ellipsis">文件7.doc</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="javascript:;" class="ellipsis">文件8.doc</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="javascript:;" class="ellipsis">文件9.doc</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="javascript:;" class="ellipsis">文件10.doc</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="javascript:;" class="ellipsis">文件11.doc</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="javascript:;" class="ellipsis">文件12.doc</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="center-part">
                <div class="center-items todo">
                    <div class="calendar-part">
                        <div class="easyui-calendar" style="width:205px;height:231px;"></div>
                    </div>
                    <ul class="work-items clearfix">
                        <li>
                            <div class="work-inner">
                                <div class="work-item blue">
                                    <i class="fa fa-list" aria-hidden="true"></i>
                                    <span class="num">21&nbsp;<span class="unit">个</span></span>
                                    <label>我的待办</label>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="work-inner">
                                <div class="work-item red">
                                    <i class="fa fa-exclamation-triangle"></i>
                                    <span class="num">3&nbsp;<span class="unit">条</span></span>
                                    <label>未读预警信息</label>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="work-inner">
                                <div class="work-item yellow">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="num">12&nbsp;<span class="unit">封</span></span>
                                    <label>邮件未读</label>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="work-inner">
                                <div class="work-item green">
                                    <i class="fa fa-cny"></i>
                                    <span title="8888万" class="num">8888&nbsp;<span class="unit">万</span></span>
                                    <label>我的询价</label>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="work-inner">
                                <div class="work-item purple">
                                    <i class="fa fa-book"></i>
                                    <span title="66666万" class="num">66666&nbsp;<span class="unit">万</span></span>
                                    <label>签约金额</label>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="work-inner">
                                <div class="work-item gray">
                                    <i class="fa fa-handshake-o"></i>
                                    <span class="num">&nbsp;12&nbsp;<span class="unit">个</span></span>
                                    <label>供应商数</label>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="center-items chart0 clearfix">
                    <div class="chart0-item">
                        <div class="item-inner">
                            <div class="item-content">
                                <div class="content-header">访问来源</div>
                                <div class="chart-chart" id="chart0"></div>
                            </div>
                        </div>
                    </div>
                    <div class="chart0-item">
                        <div class="item-inner">
                            <div class="item-content">
                                <div class="content-header">每周访问来源频次</div>
                                <div class="chart-chart" id="chart1"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="center-items chart1">
                    <div class="chart1-inner">
                        <div class="item-header">各平台使用频次</div>
                        <div class="chart1-chart" id="chart3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="todo-panel">
    <div class="todo-title">
        <i class="fa fa-list" aria-hidden="true"></i>
        <span class="num">21&nbsp;<span class="unit">个</span></span>
        <label>待办未处理</label>
    </div>
    <div class="todo-items">
        <ul>
            <li>
                <span></span>
                <a href="javascript:;" class="ellipsis">您有<span>10条</span>供应商开发申请未处理<i></i></a>
                <label>01-11</label>
            </li>
            <li>
                <span></span>
                <a href="javascript:;" class="ellipsis">您有<span>10条</span>供应商开发申请未处理<i></i></a></a>
                <label>01-11</label>
            </li>
            <li>
                <span></span>
                <a href="javascript:;" class="ellipsis">您有<span>14条</span>供应商开发申请未处理，请及时审批<i></i></a></a>
                <label>01-11</label>
            </li>
            <li>
                <span></span>
                <a href="javascript:;" class="ellipsis">您有<span>3条</span>供应商开发申请未处理，请及时审批</a></a>
                <label>01-11</label>
            </li>
            <li>
                <span></span>
                <a href="javascript:;" class="ellipsis">您有<span>3条</span>供应商开发申请未处理，请及时审批</a></a>
                <label>01-11</label>
            </li>
            <li>
                <span></span>
                <a href="javascript:;" class="ellipsis">您有<span>5条</span>供应商开发申请未处理，请及时审批，未处理会导致失效</a></a>
                <label>01-11</label>
            </li>
            <li>
                <span></span>
                <a href="javascript:;" class="ellipsis">您有<span>2条</span>供应商开发申请未处理，请及时审批，未处理会导致失效</a></a>
                <label>01-11</label>
            </li>
            <li>
                <span></span>
                <a href="javascript:;" class="ellipsis">您有<span>1条</span>供应商开发申请未处理，请及时审批，未处理会导致失效</a></a>
                <label>01-10</label>
            </li>
            <li>
                <span></span>
                <a href="javascript:;" class="ellipsis">您有<span>6条</span>供应商开发申请未处理，请及时审批，未处理</a></a>
                <label>01-10</label>
            </li>
            <li>
                <span></span>
                <a href="javascript:;" class="ellipsis">您有<span>7条</span>供应商开发申请未处理，请及时审批，未处理会导致失效</a></a>
                <label>01-10</label>
            </li>
            <li>
                <span></span>
                <a href="javascript:;" class="ellipsis">您有<span>1条</span>供应商开发申请未处理，未处理会导致失效</a></a>
                <label>01-10</label>
            </li>
            <li>
                <span></span>
                <a href="javascript:;" class="ellipsis">您有<span>3条</span>开发申请未处理，请及时审批，未处理会导致失效</a></a>
                <label>01-09</label>
            </li>
            <li>
                <span></span>
                <a href="javascript:;" class="ellipsis">您有<span>5条</span>供应商开发申请未处理，请及时审批，未处理会导致失效</a></a>
                <label>01-09</label>
            </li>
            <li>
                <span></span>
                <a href="javascript:;" class="ellipsis">您有<span>6条</span>供应商开发申请未处理，请及时审批，会导致失效</a></a>
                <label>01-09</label>
            </li>
            <li>
                <span></span>
                <a href="javascript:;" class="ellipsis">您有<span>3条</span>供应商开发申请未处理，请及时审批，未处理</a></a>
                <label>01-09</label>
            </li>
            <li>
                <span></span>
                <a href="javascript:;" class="ellipsis">您有<span>2条</span>供应商开发申请未处理，请及时审批</a></a>
                <label>01-09</label>
            </li>
        </ul>
    </div>
</div>
</body>
</html>