.login-body .body-inner .inner-wrap .login-zone .login-box .input-item input,html,body {
    height:100%
}
body {
    background-color:#f1f1f1;
    font-size: 14px !important;

}
body.white, body.white .login-header {
    background-color:#fff
}
body.white .login-header .split {
    background-color:#ccc
}
body.white .login-body {
    background-color:#f1f1f1
}
body.white .login-body .login-zone .login-box .login-label p {
    border-left:none
}
.login-header {
    position:relative;
    height:94px;
    background:#0089d0;
    line-height:94px;
    min-width:1200px
}
.login-header .header-inner {
    width:1200px;
    height:95px;
    line-height:95px;
    margin:0 auto;
    /*padding-top:10px;*/
}
.login-header .header-inner .logo {
    position:relative;
    display:inline-block;
    /*width:245px;*/
    width:207px;
    height:73px;
    margin-top:10px;
    background:url(../img/login_banner.png) no-repeat
}
.login-header .header-inner .split {
    position:relative;
    display:inline-block;
    height:32px;
    width:1px;
    top:-19px;
    margin-right:10px;
    margin-left:10px;
    background-color: #adc5d0;
}
.login-header .header-inner .web-name {
    display:inline-block;
    position:relative;
    color:#ffffff;
    font-size:22px;
    top:-27px;
}
.login-body {
    position:relative;
    border:1px solid #e5e5e5;
    background-color:#fff;
    min-width:1200px
}
.login-body .body-inner {
    width:1200px;
    margin:0 auto
}
.login-body .body-inner .inner-wrap {
    position:relative;
    padding-right:504px
}
.login-body .body-inner .inner-wrap .login-zone {
    position:absolute;
    right:0;
    top:0;
    bottom:0;
    width:504px
}
.login-body .body-inner .inner-wrap .login-zone .alert {
    margin:0 33px 10px
}
.login-body .body-inner .inner-wrap .login-zone .login-box {
    position:absolute;
    right:30px;
    top:46px;
    background:#fff;
    box-shadow:2px 2px 3px #ddd,-2px 0 3px #ddd;
    width:364px;
    padding-bottom:20px;
}
.login-body .body-inner .inner-wrap .login-zone .login-box .login-label {
    color:#000;
    font-size:22px;
    height:44px;
    line-height:44px;
    margin-top:23px;
    text-indent:30px;
    margin-bottom:20px
}
.login-body .body-inner .inner-wrap .login-zone .login-box .login-label p {
    border-left:4px solid #0089d0
}
.login-body .body-inner .inner-wrap .login-zone .login-box .input-item {
    margin-bottom:22px;
    width:296px;
    line-height:40px;
    height:40px;
    border-top:1px solid #adadad;
    border-left:1px solid #adadad;
    border-right:1px solid #cfcfcf;
    border-bottom:1px solid #cfcfcf;
    margin-left:34px
}
.login-body .body-inner .inner-wrap .login-zone .login-box .input-item i {
    float:left;
    display:inline-block;
    width:40px;
    height:40px;
    line-height:40px;
    text-align:center;
    color:#5d5c68
}
.login-body .body-inner .inner-wrap .login-zone .login-box .input-item input {
    border:0;
    width:236px;
    float:left;
    outline:none;
    text-decoration:none;
    padding: 10px 0 6px;
}

.login-body .body-inner .inner-wrap .login-zone .login-box .input-item input:focus {
    outline:none;
    text-decoration:none
}
.login-body .body-inner .inner-wrap .login-zone .login-box .login-check {
    margin-bottom:10px
}
.login-body .body-inner .inner-wrap .login-zone .login-box .login-check .input-item {
    float:left;
    width:172px;
    margin-right:10px
}
.login-body .body-inner .inner-wrap .login-zone .login-box .login-check .input-item input {
    width:114px;
    vertical-align:middle;
}
.login-body .body-inner .inner-wrap .login-zone .login-box .login-check .verify-code-image {
    float:left;
    display:inline-block;
    height:40px;
    line-height:40px;
    background-color:#ff9d02;
    color:#fff;
    width:114px;
    text-align:center;
    margin-top: -1px;
}
.login-body .body-inner .inner-wrap .login-zone .login-box .tips {
    height:20px;
    line-height:20px;
    margin-bottom:30px
}
.login-body .body-inner .inner-wrap .login-zone .login-box .tips input[type=checkbox] {
    position:relative;
    margin-left:34px
}
.login-body .body-inner .inner-wrap .login-zone .login-box .tips label {
    color:#a3a3a3
}
.login-body .body-inner .inner-wrap .login-zone .login-box .tips a {
    float:right;
    text-decoration:none
}
.login-body .body-inner .inner-wrap .login-zone .login-box .tips a:hover {
    text-decoration:underline
}
.login-body .body-inner .inner-wrap .login-zone .login-box .tips a.forget-password {
    color:#000
}
.login-body .body-inner .inner-wrap .login-zone .login-box .enter a {
    display:inline-block;
    text-decoration:none;
    height:48px;
    line-height:48px;
    text-align:center;
    color:#fff;
    font-size:16px;
    width:142px;
    font-weight:bold
}
.login-body .body-inner .inner-wrap .login-zone .login-box .enter a.login-button {
    margin-left:34px;
    /*background-color:#f45438;*/
    background-color:#0089d0;
    margin-right:9px
}
.login-body .body-inner .inner-wrap .login-zone .login-box .enter a.register-button {
    background-color:#0089d0
}
.login-body .body-inner .inner-wrap .login-poster {
    height:541px;
    background:url(../img/loginbg.png) right center no-repeat
}
.login-footer {
    padding-top:20px;
    min-width:1200px
}
.login-footer .footer-inner {
    margin:0 auto
}
.login-footer .footer-inner .about-us {
    height:20px;
    line-height:20px;
    width:295px;
    margin: 0 auto 10px;
}
.login-footer .footer-inner .about-us a {
    color:#666;
    text-decoration:none;
    float:left;
    margin-left:15px
}
.login-footer .footer-inner .about-us a:hover {
    text-decoration:underline
}
.login-footer .footer-inner .address {
    text-align:center;
    color:#999;
    font-size:12px;
    margin-bottom:10px
}
.login-footer .footer-inner .other-info {
    text-align:center;
    color:#999;
    font-size:12px;
    margin-bottom:50px
}

.login-body .body-inner .inner-wrap .login-zone .login-box .tips {
    height: 20px;
    line-height: 20px;
    margin-bottom: 30px;
}

.login-body .body-inner .inner-wrap .login-zone .login-box .tips a.forget-password {
    color: #000;
    margin-left: 148px;
}

.login-body .body-inner .inner-wrap .login-zone .login-box .tips a {
    float: right;
    font-size: 12px;
    text-decoration: none;
}

.alert {
    margin-bottom: 20px;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    border: 1px solid #ddd;
    color: #888;
}

.alert.alert-error {
    background: #fc0000;
    color: #ffffff;
    border-color: #fc0000;
}

.alert-success {
    background-color: #1da02b;
    color: #ffffff;
    border-color: #1da02b;
}
