<div class="submit-form">
    <table class="submit-table">
        <tr>
            <td class="label">任务类名：</td>
            <td><input name="jobClassName" class="easyui-textbox" data-options="required:true"></td>
        </tr>
        <tr>
            <td class="label">任务组名：</td>
            <td><input name="jobGroup" class="easyui-textbox" data-options="required:true"></td>
        </tr>
        <tr>
            <td class="label"><a href="http://cron.qqe2.com/" target="_blank">CRON 表达式</a>：</td>
            <td><input name="cronExpression" class="easyui-textbox" style="height:50px;"
                       data-options="required:true,multiline:true"></td>
        </tr>
        <tr>
            <td class="label">描述：</td>
            <td><input name="description" class="easyui-textbox" style="height:50px;"
                       data-options="multiline:true"></td>
        </tr>
    </table>
</div>