<div class="submit-form">
    <table class="submit-table">
        <tr>
            <td class="label"><a href="http://cron.qqe2.com/" target="_blank">CRON 表达式</a></td>
            <td><input name="cronExpression" class="easyui-textbox" style="height:50px;"
                       data-options="required:true,multiline:true">
                <input name="jobClassName" type="hidden">
                <input name="jobGroup" type="hidden">
            </td>
        </tr>
        <tr>
            <td class="label">描述：</td>
            <td><input name="description" class="easyui-textbox" style="height:50px;"
                       data-options="multiline:true"></td>
        </tr>
    </table>
</div>