<div class="submit-form">
    <table class="submit-table">
        <tr>
            <td class="label">发件人：</td>
            <td>
                <input name="from" class="easyui-textbox">
                <input name="id" type="hidden">
            </td>
        </tr>
        <tr>
            <td class="label">收件人：</td>
            <td>
                <input name="to" class="easyui-textbox" data-options="required:true">
            </td>
        </tr>
        <tr>
            <td class="label">主题：</td>
            <td>
                <input name="subject" class="easyui-textbox">
            </td>
        </tr>
        <tr>
            <td class="label">内容：</td>
            <td><input name="text" class="easyui-textbox" style="height:50px;"
                       data-options="required:true,multiline:true"></td>
        </tr>

        <tr>
            <td class="label">是否为 HTML：</td>
            <td><input name="html" id="html">
            </td>
        </tr>
        <tr>
            <td class="label">备注：</td>
            <td><input name="remark" class="easyui-textbox" style="height:50px;"
                       data-options="multiline:true"></td>
        </tr>
    </table>
</div>

<script>
    $(function () {
        $('#html').combobox({
            url: Url.System.Api.DICTIONARY + '/list_all_by_key/IS_OR_NOT',
            valueField: 'value',
            textField: 'valueName',
            require: true
        });
    });
</script>
