<div class="submit-form">
    <table class="submit-table">
        <tr>
            <td class="label">API 名称：</td>
            <td><input name="id" type="hidden">
                <input name="name" class="easyui-textbox" data-options="required:true"></td>
        </tr>
        <tr>
            <td class="label">请求地址（url）：</td>
            <td><input name="url" class="easyui-textbox" style="height:50px;"
                       data-options="required:true,multiline:true"></td>
        </tr>
        <tr>
            <td class="label">排序：</td>
            <td><input name="sort" class="easyui-numberbox"></td>
        </tr>
        <tr>
            <td class="label">备注：</td>
            <td><input name="remark" class="easyui-textbox" style="height:50px;"
                       data-options="multiline:true"></td>
        </tr>
    </table>
</div>
